body {
    background-image: url(2.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif

}

input[type=submit] {
    
    
    border-radius: 6px;
    background-color: rgb(11, 185, 31);
}

input[type=button]:hover{
    background-color: rgb(192, 237, 12);
    cursor: pointer;
}


label{
    
    border-radius: 2px;
    color: rgb(224, 244, 7);
    font-size: 38px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(6, 244, 101);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: perspective(100px) rotateX(20deg);
}

.tab {
    color: rgb(244, 7, 232);
    font-size: 38px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(5, 237, 156);
    text-shadow: 2px 2px 4px rgba(6, 62, 230, 0.5);
  transform: perspective(100px) rotateX(2deg);
}

input ,.choice {
    border-radius: 4px;
    height: 35px;;
    
}

.head {
    background-color: rgb(48, 244, 4);
    text-shadow: 0cqw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: perspective(100px) rotateX(20deg);
}